#Address denial logs for oma drm files accessing by platform apps
allow platform_app oma_drm_data_file:dir rw_dir_perms;
allow platform_app oma_drm_data_file:file create_file_perms;

# Allow to read thermal sysfs
allow platform_app sysfs_thermal:dir search;
allow platform_app sysfs_thermal:file rw_file_perms;
allow platform_app sysfs_thermal:lnk_file rw_file_perms;
